<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/syntax.css" />
    <link rel="stylesheet" href="/assets/stylesheet.css" />
    <title><%= @config[:title] %> - <%= @item[:title] %></title>
  </head>
  <body>
    <h1><%= @config[:title] %></h1>
    <main>
      <h2><%= @item[:title] %></h2>
      <%= yield %>
    </main>
  </body>
</html>
